{% extends "base_new.html" %}
{% block content %}
<div class="jumbotron bg-light">
  <div class="container">
    <p>This website provides an analysis of the 2019-nCovid virus infection. This analysis is based on the Johns Hopkins University <a href="https://github.com/CSSEGISandData/COVID-19">dataset</a>. All rights over the data are reserved to Johns Hopkins University.</p>
    <p>This website serves only as an academic study. It's intent is to spread information and awareness. No commercial uses are allowed.</p>
    <p>No visitor information is stored, analysed or passed on to any third party.</p>
    <p>Feel free to make any contributions on <span class="text-muted"> <a href="https://github.com/SergioMCDuarte/2019-nCovid-dashboard">Github</a>.</span></p>
  </div>
</div>
{% endblock %}
