{% extends "base_new.html" %}
{% block content %}
<div class="jumbotron bg-light">
  <br>
  <div class="container">
    <h3>Cumulative Number of Confirmed Cases</h3>
  </div>
  <div class="chart" id="chinavsrothw_total">
    <script>
        var graphs = {{plot_totals | safe}};
        Plotly.plot('chinavsrothw_total',graphs,{});
    </script>
  </div>
  <hr class="my-4">
  <br>
  <div class="container">
    <h3>New Confirmed Cases</h3>
  </div>
  <div class="chart" id="chinavsrothw_diff">
    <script>
        var graphs = {{plot_diff | safe}};
        Plotly.plot('chinavsrothw_diff',graphs,{});
    </script>
  </div>
  <hr class="my-4">
  <br>
  <div class="container">
    <h3>Infection Growth Rate</h3>
  </div>
  <div class="chart" id="chinavsrothw_growth">
    <script>
        var graphs = {{plot_growth | safe}};
        Plotly.plot('chinavsrothw_growth',graphs,{});
    </script>
  </div>
</div>
{% endblock %}
